 <footer id="footer">
         <div class="center-column">
            <small class="press_acc"><a href="/press/" target="_blank">Press & Accolades</a></small> 
            <article id="newsletter">
               <form action="/connect/" method="get">
                  <fieldset>
                     <legend></legend>
                     <p> <input id="email" type="text" name="email" value="" class="text validate[required,custom[email]]" placeholder=""> </p>
                     <p class="controls"> <input type="submit" class="button" value="Sign Up"> </p>
                  </fieldset>
               </form>
            </article>
            <small class="credits"><a href="/">Full Website</a></small> 
            <ul class="socials">
               <li> <a class="pinterest" href="https://www.pinterest.com/triumphhotels/" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - pinterest - Website Referral') );">pinterest</a> </li>
               <li> <a class="facebook" href="https://www.facebook.com/TriumphHotels" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - Facebook - Website Referral') );">Facebook</a> </li>
               <li> <a class="twitter" href="https://twitter.com/TriumphHotels" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - Twitter - Website Referral') );">Twitter</a> </li>
               <li> <a class="google" href="https://plus.google.com/117172606182242892525/about" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - Google+ - Website Referral') );">Google+</a> </li>
               <li> <a class="instagram" href="https://www.instagram.com/triumphhotels/" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - Instagram - Website Referral') );">Instagram</a> </li>
            </ul>
         </div>
      </footer>

    