<header id="header">
         <div class="center-column">
            <a class="org logo" href="/" title="Triumph Hotels"> <img src="/assets/images/cms/imagepool/568a99f0680d8.png" alt="Travel Agent Rewards Program" class="fn"> </a> <span id="menu-switch">Menu</span> <span id="book-switch">Book Now</span> 
            <ul class="socials">
               <li> <a class="pinterest" href="https://www.pinterest.com/triumphhotels/" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - pinterest - Website Referral') );">pinterest</a> </li>
               <li> <a class="facebook" href="https://www.facebook.com/TriumphHotels" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - Facebook - Website Referral') );">Facebook</a> </li>
               <li> <a class="twitter" href="https://twitter.com/TriumphHotels" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - Twitter - Website Referral') );">Twitter</a> </li>
               <li> <a class="google" href="https://plus.google.com/117172606182242892525/about" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - Google+ - Website Referral') );">Google+</a> </li>
               <li> <a class="instagram" href="https://www.instagram.com/triumphhotels/" target="_blank" rel="nofollow" onclick="var s=s_gi(s_account); s.linkTrackVars='events,products'; s.linkTrackEvents='event7'; s.events='event7'; s.products=';Triumph Hotels'; (s.tl(this,'e','Triumph Hotels - Instagram - Website Referral') );">Instagram</a> </li>
            </ul>
            <nav id="main-menu">
               <ul class="parent">
                  <li><a href="/travel-agent-rewards/#overview-section">Overview</a></li>
                  <li> <a href="/travel-agent-rewards/#hotels-section">Hotels</a> </li>
                  <li> <a href="/travel-agent-rewards/#neighborhoods-section">Neighborhoods</a> </li>
                  <li> <a href="/travel-agent-rewards/#travel-agent-rewards-program-section">Travel Agent Rewards Program</a> </li>
               </ul>
            </nav>
         </div>
      </header>