.hotel-intro {
	.intro-holder {
		.text {
			width: 210px;
			padding: 30px 0;
			margin: 50px auto 0 auto;
				@media (min-width: $screen-sm-min){
					width: 210px;
				}
				@media (min-width: $screen-md-min){
					margin: 20px auto 0 auto;
				}
				@media (min-width: $screen-lg-min){
					margin: 44px auto 0 auto;
				}
		}
		.floating {
			width: 200px;
			@media (min-width: $screen-sm-min){
				width: 280px;
			}
		}
	}
}

.hotel-intro {
	.hotel-history {
		.l-top {
		h2 {
			width: auto;
		}
	}
}
}