#poi_map{
	width:100%;
	height:400px;
}
#poi-list{
	width:100%;
}
#poi-list td{
	position:relative;
	vertical-align:middle;
}
#poi-list td.distance {
	text-align:center;
}

#poi-list .poi-expand {
	cursor:pointer;
	text-decoration:underline;
}
#poi-list .poi-expand.disabled {
	cursor:default;
	text-decoration:none;
}
.poi-more td{
	border:0!important;
	padding:0!important;
}
.poi-more div{
	font-size:11px;
	display:none;
	overflow:hidden;
	padding:20px;
	vertical-align:middle;
}
.poi-more img{
	float:left;
}
.show-on-map{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:17px;
	width:11px;
	text-indent:-9999px;
	background:url(../images/common.png) -598px 0 no-repeat;
	text-decoration:none;
	position:relative;
	z-index:1;
	cursor:pointer;
	vertical-align:middle;
	*text-indent:0;
	*font-size:0;
	*line-height:0;
}
.show-on-map:hover{
	background-position:-629px 0;
}
.td-showonmap{
	text-align:center!important;
}
.th-showonmap{
	white-space:nowrap;
}
#show-all{
	display:inline-block;
	margin:10px 0;
}

#poi_map h4, #poi_map p{
	line-height:13px;
	margin:3px 0 0 !important;
	white-space:nowrap;
}
#content #poi_map p {
	font-size:14px;
}
#poi_map h4 {
	font-size:16px;
	line-height:20px;
	color:#a78f61;
	text-transform:uppercase;
	margin:0 0 5px 0;
}