<!DOCTYPE html>
<html>
  {% include head-anniversary.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ5ZGMD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section class="hero-section">
      <div class="container no-padding">
        <div class="col-xs-12 no-padding hero" style="background-image:url(/images/anniversary/hero.jpg)"></div>
        <div class="fixed-nav">
        <div class="main-nav">
          <ul>
            <li><a href="#our-story" class="link">Our Story</a></li>
            <li><a href="#inspiration" class="link">inspiration</a></li>
            <li><a href="#hotels" class="link">Hotels</a></li>
            <li><a href="#neighborhood" class="link">Neighborhood</a></li>
            <li><a href="#contact" class="link">Contact</a></li>
            <!--<li><a href="">Book Now</a></li>-->
          </ul>
        </div>
        <div class="menu-toggle"><a href="javascript:void(0);"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
        </div>
        <div class="triumph-logo"><a href="http://www.triumphhotels.com/" target="_blank"><img src="/images/anniversary/triumph-logo.png" alt="Triumph Hotels"/></a></div>
        <div class="rotate left"><a href="/">3 year anniversary sale</a></div>
        <div class="rotate right">February 9th - 11th 2017</div>
        <div class="scroll"><a href="javascript:void(0);">discover triumph hotels<i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
        <div class="hero-content-outer">
          <div class="hero-content-inner">
            <h1><span>3</span> Year Anniversary</h1>
            <div class="offer">
              <h3>
              <span class="offer-value">4</span><span class="offer-value">0<span class="upto">Up to</span></span>
              <span class="per">%</span><span class="off">off</span>
              </h3>
            </div>
            <h4>Feb 12th<br>One Day Extension</h4>
            <div class="year">2017</div>
          </div>
          <a href="#hotels" class="hero-btn link">Book Now</a>
          <div class="sale"><span>Sale</span></div>
        </div>
      </div>
    </section>
    <section class="triumph-intro" id="our-story">
      <div class="container no-padding">
        <h1>UNLOCK THE NEW YORK CITY EXPERIENCE WITH TRIUMPH HOTELS</h1>
        <p>From the stately pre-war architecture of the Flatiron District to the bright lights of Broadway to the tree-lined side streets of the Upper West Side, no city offers the diversity of experience like New York.</p>
        <div class="btn-holder"><a  class="btn-common link" href="#hotels">Book Now & Save Up to 40%</a></div>
        <h3>Discover diversity and character reflected in each of Triumph’s seven New York City hotels.</h3>
      </div>
    </section>
    <!--FeatureSection Start-->
    <section class="features" id="inspiration">
      <div class="container-fluid no-padding">
        <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
          <h3>Architecture</h3>
          <img src="/images/anniversary/feature-1.jpg" alt="" title=""/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
          <h3>Neighborhood</h3>
          <img src="/images/anniversary/feature-2.jpg" alt="" title=""/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
          <h3>Service</h3>
          <img src="/images/anniversary/feature-3.jpg" alt="" title=""/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12  no-padding">
          <h3>History</h3>
          <img src="/images/anniversary/feature-4.jpg" alt="" title=""/>
        </div>
      </div>
    </section>
    <section class="feature-ud" style="background-image:url(/images/anniversary/feature-bg.jpg);">
      <div class="container-fluid no-padding">
        <div class="feature-content">
          <h3>unique Design </h3>
          <p>Exceptional unique NYC hotel design facilitates connections, creates
          a sense of place, and provides comfort above all.</p>
        </div>
      </div>
    </section>
    <section class="hotel-intro" id="hotels">
      <div class="container">
        <div class="seven-hotels-container">
          <h4>AUTHENTIC HOTELS IN NYC</h4>
          <h2>Our Seven Unique Hotels</h2>
          <h5>Browse Your Desired Triumph hotel</h5>
        </div>
        <div class="seven-hotels-tabs-section">
          <div class="seven-hotels-tabs">
            <ul class="tabs">
              <li class="active"><a data-toggle="tab" href="#iroquois">The Iroquois New York </a></li>
              <li><a data-toggle="tab" href="#chandler">Hotel Chandler </a></li>
              <li><a data-toggle="tab" href="#belleclaire"> Hotel Belleclaire</a></li>
              <li><a data-toggle="tab" href="#cosmopolitan"> Cosmopolitan Hotel Tribeca</a></li>
              <li><a data-toggle="tab" href="#evelyn">The Evelyn  </a></li>
              <li><a data-toggle="tab" href="#wj"> Washington Jefferson Hotel</a></li>
              <li><a data-toggle="tab" href="#edison"> Hotel Edison</a></li>
            </ul>
          </div>
          <div class="tab-content hotel-intro-pattern">
            <div id="iroquois" class="tab-pane fade in active">
              <div class="hotel-intro-inner">
                <div class="col-md-4 col-sm-6 no-padding">
                  <div class="intro-holder"><img src="/images/anniversary/iroquois/tabs-images-1.png" alt=""/></div></div>
                  <div class="col-md-4 col-sm-6 no-padding">
                    <div class="intro-holder"><img src="/images/anniversary/iroquois/tabs-images-2.jpg" alt=""/></div></div>
                    <div class="col-md-4 col-xs-12 no-padding">
                      <div class="intro-holder"><span class="text"><span class="qoute">“</span>The Iroquois New York - A quintessentially New York City experience.<span class="qoute2">”</span></span></div></div>
                    </div>
                    <div class="hotel-intro-inner ">
                      <div class="explore-container">
                        <div class="col-md-7 no-padding">
                          <h4>Luxury redefined at The Iroquois New York</h4>
                          <p>A 4-star small luxury NYC hotel tucked away on a quiet block in the heart of Midtown Manhattan, the Iroquois New York combines classic design and contemporary amenities to create a quintessentially New York City experience.</p>
                          <a class="gold-button" href="https://gc.synxis.com/rez.aspx?Hotel=60849&Chain=16087&promo=ANNIVERSARY" target="_blank">Book Your Stay Now</a>  <a class="white-button" href="http://www.iroquoisny.com/" target="_blank">explore this hotel</a>
                        </div>
                        <div class="col-md-5 no-padding">
                          <img src="/images/anniversary/iroquois/tabs-images-3.jpg" alt="Iroquois Hotel">
                        </div>
                      </div>
                    </div>
                    <section class="lantern">
                      <div class="container">
                        <div class="col-md-7 col-xs-12 no-padding overflow">
                          <div class="tag">Lantern’s Keep, a prohibition-era-inspired cocktail salon</div>
                          <img src="/images/lantern-01.jpg"  alt=""/>
                        </div>
                        <div class="col-md-5 col-xs-12 no-padding overflow">
                          <div class="tag2">Innovative cocktail concepts and a speakeasy vibe</div>
                          <img src="/images/lantern-02.jpg"  alt=""/>
                        </div>
                      </div>
                    </section>
                    <div class="group-title" id="neighborhood">
                      <h6>Proximity at its best</h6>
                      <h3>With Triumph Hotels</h3>
                    </div>
                    <section class="location">
                      <div class="container">
                        <div class="col-md-7 no-padding map">
                          <img src="/images/map.jpg"  alt=""/>
                        </div>
                        <div class="col-md-5 no-padding">
                          <div class="holder">
                            <h5>The Iroquois New York</h5>
                            <ul>
                              <li><span><img src="/images/loc.png"  alt=""/></span>49 West 44th Street, New York, NY 10036</li>
                              <li><span><img src="/images/call.png"  alt=""/></span><a href="tel:1-855-787-4867">+1 855.787.4867</a></li>
                              <li><span><img src="/images/mail.png"  alt=""/></span><a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a></li>
                            </ul>
                            <img src="/images/lantern-03.jpg" class="full"  alt="" />
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                  <div id="chandler" class="tab-pane fade">
                    <div class="hotel-intro-inner">
                      <div class="col-md-4 col-sm-6 no-padding">
                        <div class="intro-holder"><img src="/images/anniversary/chandler/tabs-images-1.png" alt=""/></div></div>
                        <div class="col-md-4 col-sm-6 no-padding">
                          <div class="intro-holder"><img src="/images/anniversary/chandler/tabs-images-2.jpg" alt=""/></div></div>
                          <div class="col-md-4 col-xs-12 no-padding">
                            <div class="intro-holder"><span class="text"><span class="qoute">“</span>Rich architectural
                            history witha forward-thinking style.<span class="qoute2">”</span></span></div></div>
                          </div>
                          <div class="hotel-intro-inner ">
                            <div class="explore-container">
                              <div class="col-md-7 no-padding">
                                <h4>an air of classic and stately elegance</h4>
                                <p>Located in the vibrant Flatiron District neighborhood, this Manhattan
                                boutique hotel combines a rich architectural history with a forward-thinking style. At this Small Luxury Hotels of the World member experience modern amenities and contemporary design details.</p>
                                <a class="gold-button" href="https://gc.synxis.com/rez.aspx?Hotel=60998&Chain=16087&promo=ANNIVERSARY" target="_blank" >Book Your Stay Now</a> <a class="white-button" href="http://www.hotelchandler.com/" target="_blank">explore this hotel</a>
                              </div>
                              <div class="col-md-5 no-padding">
                                <img src="/images/anniversary/chandler/tabs-images-3.jpg" alt="Iroquois Hotel">
                              </div>
                            </div>
                          </div>
                          <section class="lantern">
                            <div class="container">
                              <div class="col-md-7 col-xs-12 no-padding overflow">
                                <div class="tag">the Chandler Lounge -
                                for upscale private  dining </div>
                                <img src="/images/anniversary/chandler/tabs-images-4.jpg"  alt=""/>
                              </div>
                              <div class="col-md-5 col-xs-12 no-padding overflow">
                                <div class="tag2">where timeless character and contemporary elegance come together</div>
                                <img src="/images/anniversary/chandler/tabs-images-5.jpg"  alt=""/>
                              </div>
                            </div>
                          </section>
                          <div class="group-title">
                            <h6>Proximity at its best</h6>
                            <h3>With Triumph Hotels</h3>
                          </div>
                          <section class="location">
                            <div class="container">
                              <div class="col-md-7 no-padding map">
                                <img src="/images/anniversary/chandler/tabs-images-6.jpg"  alt=""/>
                              </div>
                              <div class="col-md-5 no-padding">
                                <div class="holder">
                                  <h5>Hotel Chandler</h5>
                                  <ul>
                                    <li><span><img src="/images/loc.png"  alt=""/></span>12 E 31st Street, New York, NY 10016</li>
                                    <li><span><img src="/images/call.png"  alt=""/></span><a href="tel:1-855.787.4867">+1 855.787.4867</a></li>
                                    <li><span><img src="/images/mail.png"  alt=""/></span><a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a></li>
                                  </ul>
                                  <img src="/images/anniversary/chandler/tabs-images-7.jpg" class="full"  alt="" />
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>
                        <div id="belleclaire" class="tab-pane fade">
                          <div class="hotel-intro-inner">
                            <div class="col-md-4 col-sm-6 no-padding">
                              <div class="intro-holder"><img src="/images/anniversary/belleglaire/tabs-images-1.png" alt=""/></div></div>
                              <div class="col-md-4 col-sm-6 no-padding">
                                <div class="intro-holder"><img src="/images/anniversary/belleglaire/tabs-images-2.jpg" alt=""/></div></div>
                                <div class="col-md-4 col-xs-12 no-padding">
                                  <div class="intro-holder"><span class="text"><span class="qoute">“</span>Hotel Belleclaire - a haven for rest and relaxation.<span class="qoute2">”</span></span></div></div>
                                </div>
                                <div class="hotel-intro-inner ">
                                  <div class="explore-container">
                                    <div class="col-md-7 no-padding">
                                      <h4>Classic charm and modern conveniences </h4>
                                      <p>In a 1903 Emery Roth landmark building, the hotel offers a wide
                                      range of sophisticated amenities, both in-room and onsite. Indulge in delectable French pastries, rejuvinating teas and the best coffees on the Upper West Side at Mille-Feuille, located conveniently in the hotel lobby. Each of the 240 rooms at our hotel in NYC provides a haven for rest and relaxation. </p>
                                      <a class="gold-button" href="https://gc.synxis.com/rez.aspx?Hotel=60633&Chain=16087&promo=ANNIVERSARY" target="_blank">Book Your Stay Now</a>  <a class="white-button" href="http://www.hotelbelleclaire.com/" target="_blank">explore this hotel</a>
                                    </div>
                                    <div class="col-md-5 no-padding">
                                      <img src="/images/anniversary/belleglaire/tabs-images-3.jpg" alt="Iroquois Hotel">
                                    </div>
                                  </div>
                                </div>
                                <section class="lantern">
                                  <div class="container">
                                    <div class="col-md-7 col-xs-12 no-padding overflow">
                                      <div class="tag">Classic charm and modern conveniences come together at Hotel Belleclaire</div>
                                      <img src="/images/anniversary/belleglaire/tabs-images-4.jpg"  alt=""/>
                                    </div>
                                    <div class="col-md-5 col-xs-12 no-padding overflow">
                                      <div class="tag2">a haven for rest and relaxation</div>
                                      <img src="/images/anniversary/belleglaire/tabs-images-5.jpg"  alt=""/>
                                    </div>
                                  </div>
                                </section>
                                <div class="group-title">
                                  <h6>Proximity at its best</h6>
                                  <h3>With Triumph Hotels</h3>
                                </div>
                                <section class="location">
                                  <div class="container">
                                    <div class="col-md-7 no-padding map">
                                      <img src="/images/anniversary/belleglaire/tabs-images-6.jpg"  alt=""/>
                                    </div>h
                                    <div class="col-md-5 no-padding">
                                      <div class="holder">
                                        <h5>Hotel BelleClaire</h5>
                                        <ul>
                                          <li><span><img src="/images/loc.png"  alt=""/></span>250 W 77th Street. New York, NY 10024</li>
                                          <li><span><img src="/images/call.png"  alt=""/></span><a href="tel:1-855.787.4867">+1 855.787.4867</a></li>
                                          <li><span><img src="/images/mail.png"  alt=""/></span><a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a></li>
                                        </ul>
                                        <img src="/images/anniversary/belleglaire/tabs-images-7.jpg" class="full"  alt="" />
                                      </div>
                                    </div>
                                  </div>
                                </section>
                              </div>
                              <div id="cosmopolitan" class="tab-pane fade">
                                <div class="hotel-intro-inner">
                                  <div class="col-md-4 col-sm-6 no-padding">
                                    <div class="intro-holder"><img src="/images/anniversary/cosmopolitan/tabs-images-1.png" alt=""/></div></div>
                                    <div class="col-md-4 col-sm-6 no-padding">
                                      <div class="intro-holder"><img src="/images/anniversary/cosmopolitan/tabs-images-2.jpg" alt=""/></div></div>
                                      <div class="col-md-4 col-xs-12 no-padding">
                                        <div class="intro-holder"><span class="text"><span class="qoute">“</span>A firsthand experience of the unique New York City downtown
                                        culture.<span class="qoute2">”</span></span></div></div>
                                      </div>
                                      <div class="hotel-intro-inner ">
                                        <div class="explore-container">
                                          <div class="col-md-7 no-padding">
                                            <h4>A Comfortable Hotel with Downtown Style</h4>
                                            <p>Historic Tribeca and neighboring SoHo are at the epicenter of the New York City art, shopping and restaurant scene. Along with our stellar location, our hotel in Tribeca is also known for offering a range of upscale amenities
                                            including room service by local favorite Palm Restaurant.</p>
                                            <a class="gold-button" href="https://gc.synxis.com/rez.aspx?Hotel=16065&Chain=16087&promo=ANNIVERSARY" target="_blank">Book Your Stay Now</a> <a class="white-button" href="http://www.cosmohotel.com/" target="_blank">explore this hotel</a>
                                          </div>
                                          <div class="col-md-5 no-padding">
                                            <img src="/images/anniversary/cosmopolitan/tabs-images-3.jpg" alt="Iroquois Hotel">
                                          </div>
                                        </div>
                                      </div>
                                      <section class="lantern">
                                        <div class="container">
                                          <div class="col-md-7 col-xs-12 no-padding overflow">
                                            <div class="tag">exceptional service and comfortable accommodations</div>
                                            <img src="/images/anniversary/cosmopolitan/tabs-images-4.jpg"  alt=""/>
                                          </div>
                                          <div class="col-md-5 col-xs-12 no-padding overflow">
                                            <div class="tag2">a firsthand experience of New York City downtown culture</div>
                                            <img src="/images/anniversary/cosmopolitan/tabs-images-5.jpg"  alt=""/>
                                          </div>
                                        </div>
                                      </section>
                                      <div class="group-title">
                                        <h6>Proximity at its best</h6>
                                        <h3>With Triumph Hotels</h3>
                                      </div>
                                      <section class="location">
                                        <div class="container">
                                          <div class="col-md-7 no-padding map">
                                            <img src="/images/anniversary/cosmopolitan/tabs-images-6.jpg"  alt=""/>
                                          </div>
                                          <div class="col-md-5 no-padding">
                                            <div class="holder">
                                              <h5>The Cosmopolitan Hotel TriBeCa</h5>
                                              <ul>
                                                <li><span><img src="/images/loc.png"  alt=""/></span>95 W Broadway. New York, NY 10007
                                              </li>
                                              <li><span><img src="/images/call.png"  alt=""/></span><a href="tel:1-855.787.4867">+1 855.787.4867</a></li>
                                              <li><span><img src="/images/mail.png"  alt=""/></span><a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a></li>
                                            </ul>
                                            <img src="/images/anniversary/cosmopolitan/tabs-images-7.jpg" class="full"  alt="" />
                                          </div>
                                        </div>
                                      </div>
                                    </section>
                                  </div>
                                  <div id="evelyn" class="tab-pane fade">
                                    <div class="hotel-intro-inner">
                                      <div class="col-md-4 col-sm-6 no-padding">
                                        <div class="intro-holder"><img src="/images/anniversary/evelyn/tabs-images-1.png" alt=""/></div></div>
                                        <div class="col-md-4 col-sm-6 no-padding">
                                          <div class="intro-holder"><img src="/images/anniversary/evelyn/tabs-images-2.jpg" alt=""/></div></div>
                                          <div class="col-md-4 col-xs-12 no-padding">
                                            <div class="intro-holder"><span class="text"><span class="qoute">“</span>Gracious hospitality,
                                            a rich sense of history and exceptional service await you.<span class="qoute2">”</span></span></div></div>
                                          </div>
                                          <div class="hotel-intro-inner ">
                                            <div class="explore-container">
                                              <div class="col-md-7 no-padding">
                                                <h4>Inspired by History, DESIGNED
                                                JUST FOR YOU</h4>
                                                <p>Enjoy comfortable NoMad hotel rooms in the heart of Manhattan at
                                                The Evelyn. Experience stays that are as comfortable as they are convenient. Our unique NYC hotel rooms come in a wide variety of services, amenities, and room sizes to accommodate almost any preference.</p>
                                                <a class="gold-button" href="https://gc.synxis.com/rez.aspx?Hotel=20986&Chain=16087&promo=ANNIVERSARY" target="_blank">Book Your Stay Now</a>  <a class="white-button" href="http://www.theevelyn.com/" target="_blank">explore this hotel</a>
                                              </div>
                                              <div class="col-md-5 no-padding">
                                                <img src="/images/anniversary/evelyn/tabs-images-3.jpg" alt="Iroquois Hotel">
                                              </div>
                                            </div>
                                          </div>
                                          <section class="lantern">
                                            <div class="container">
                                              <div class="col-md-7 col-xs-12 no-padding overflow">
                                                <div class="tag">featuring classic comforts, unique design elements and pre-war charm</div>
                                                <img src="/images/anniversary/evelyn/tabs-images-4.jpg"  alt=""/>
                                              </div>
                                              <div class="col-md-5 col-xs-12 no-padding overflow">
                                                <div class="tag2">enjoy a hearty dose of artistic character</div>
                                                <img src="/images/anniversary/evelyn/tabs-images-5.jpg"  alt=""/>
                                              </div>
                                            </div>
                                          </section>
                                          <div class="group-title">
                                            <h6>Proximity at its best</h6>
                                            <h3>With Triumph Hotels</h3>
                                          </div>
                                          <section class="location">
                                            <div class="container">
                                              <div class="col-md-7 no-padding map">
                                                <img src="/images/anniversary/evelyn/tabs-images-6.jpg"  alt=""/>
                                              </div>
                                              <div class="col-md-5 no-padding">
                                                <div class="holder">
                                                  <h5>The evelyn</h5>
                                                  <ul>
                                                    <li><span><img src="/images/loc.png"  alt=""/></span>7 E 27th Street, New York, NY 10016</li>
                                                    <li><span><img src="/images/call.png"  alt=""/></span><a href="tel:1-855-787-4867">+1 855.787.4867</a></li>
                                                    <li><span><img src="/images/mail.png"  alt=""/></span><a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a></li>
                                                  </ul>
                                                  <img src="/images/anniversary/evelyn/tabs-images-7.jpg" class="full"  alt="" />
                                                </div>
                                              </div>
                                            </div>
                                          </section>
                                        </div>
                                        <div id="wj" class="tab-pane fade">
                                          <div class="hotel-intro-inner">
                                            <div class="col-md-4 col-sm-6 no-padding">
                                              <div class="intro-holder"><img src="/images/anniversary/wjh/tabs-images-1.png" alt=""/></div></div>
                                              <div class="col-md-4 col-sm-6 no-padding">
                                                <div class="intro-holder"><img src="/images/anniversary/wjh/tabs-images-2.jpg" alt=""/></div></div>
                                                <div class="col-md-4 col-xs-12 no-padding">
                                                  <div class="intro-holder"><span class="text"><span class="qoute">“</span>A Midtown hotel, pleasantly tucked away yet right in the action<span class="qoute2">”</span></span></div></div>
                                                </div>
                                                <div class="hotel-intro-inner ">
                                                  <div class="explore-container">
                                                    <div class="col-md-7 no-padding">
                                                      <h4>in the heart of Manhattan’s
                                                      brightest neighborhood</h4>
                                                      <p>Set on-a tranquil, tree-lined block just steps away from the bright lights of Broadway, the Washington Jefferson Hotel provides a comfortable and relaxing stay for leisure and business travelers alike. This theatre District Hotel is close to Lincoln Center, Hudson River Park, Pier 95, luxurious shopping on 5th Avenue, and the best restuarants Hells Kitchen has to offer.</p>
                                                      <a class="gold-button" href="https://gc.synxis.com/rez.aspx?Hotel=60994&Chain=16087&promo=ANNIVERSARY" target="_blank">Book Your Stay Now</a>  <a class="white-button" href="http://www.wjhotel.com/" target="_blank">explore this hotel</a>
                                                    </div>
                                                    <div class="col-md-5 no-padding">
                                                      <img src="/images/anniversary/wjh/tabs-images-3.jpg" alt="Iroquois Hotel">
                                                    </div>
                                                  </div>
                                                </div>
                                                <section class="lantern">
                                                  <div class="container">
                                                    <div class="col-md-7 col-xs-12 no-padding overflow">
                                                      <div class="tag">contemporary furnishings and plush amenities</div>
                                                      <img src="/images/anniversary/wjh/tabs-images-4.jpg"  alt=""/>
                                                    </div>
                                                    <div class="col-md-5 col-xs-12 no-padding overflow">
                                                      <div class="tag2">set in the heart of Manhattan’s brightest
                                                      neighborhood</div>
                                                      <img src="/images/anniversary/wjh/tabs-images-5.jpg"  alt=""/>
                                                    </div>
                                                  </div>
                                                </section>
                                                <div class="group-title">
                                                  <h6>Proximity at its best</h6>
                                                  <h3>With Triumph Hotels</h3>
                                                </div>
                                                <section class="location">
                                                  <div class="container">
                                                    <div class="col-md-7 no-padding map">
                                                      <img src="/images/anniversary/wjh/tabs-images-6.jpg"  alt=""/>
                                                    </div>
                                                    <div class="col-md-5 no-padding">
                                                      <div class="holder">
                                                        <h5>Washington Jefferson Hotel</h5>
                                                        <ul>
                                                          <li><span><img src="/images/loc.png"  alt=""/></span>318 W 51st Street. New York, NY 10019</li>
                                                          <li><span><img src="/images/call.png"  alt=""/></span><a href="tel:1-855-787-4867">+1 855.787.4867</a></li>
                                                        <li><span><img src="/images/mail.png"  alt=""/></span><a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a></li>
                                                      </ul>
                                                      <img src="/images/anniversary/wjh/tabs-images-7.jpg" class="full"  alt="" />
                                                    </div>
                                                  </div>
                                                </div>
                                              </section>
                                            </div>
                                            <div id="edison" class="tab-pane fade">
                                              <div class="hotel-intro-inner">
                                                <div class="col-md-4 col-sm-6 no-padding">
                                                  <div class="intro-holder"><img src="/images/anniversary/edison/tabs-images-1.png" alt=""/></div></div>
                                                  <div class="col-md-4 col-sm-6 no-padding">
                                                    <div class="intro-holder"><img src="/images/anniversary/edison/tabs-images-2.jpg" alt=""/></div></div>
                                                    <div class="col-md-4 col-xs-12 no-padding">
                                                      <div class="intro-holder"><span class="text">
                                                      <span class="qoute">“</span>
                                                      Where smashing Art Deco style is still in vogue.
                                                      <span class="qoute2">”</span></span>
                                                      </div></div>
                                                    </div>
                                                    <div class="hotel-intro-inner ">
                                                      <div class="explore-container">
                                                        <div class="col-md-7 no-padding">
                                                          <h4>Heart of New York City</h4>
                                                          <p>Built in 1931, Hotel Edison is a prime example of Art Deco at its finest. Curved edges clash with bold lines, resulting in the hotel’s eye-catching exterior, which gleams proudly in the heart of Midtown. Hotel Edison offers a prime location in the center of the city, serving as the perfect base for you to explore.</p>
                                                          <a class="gold-button" href="https://gc.synxis.com/rez.aspx?Hotel=66316&Chain=16087&promo=ANNIVERSARY" target="_blank">Book Your Stay Now</a>  <a class="white-button" href="http://www.edisonhotelnyc.com/" target="_blank">explore this hotel</a>
                                                        </div>
                                                        <div class="col-md-5 no-padding">
                                                          <img src="/images/anniversary/edison/tabs-images-3.jpg" alt="Iroquois Hotel">
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <section class="lantern">
                                                      <div class="container">
                                                        <div class="col-md-7 col-xs-12 no-padding overflow">
                                                          <div class="tag"> a prime example of Art Deco at its finest</div>
                                                          <img src="/images/anniversary/edison/tabs-images-4.jpg"  alt=""/>
                                                        </div>
                                                        <div class="col-md-5 col-xs-12 no-padding overflow">
                                                          <div class="tag2">Hotel Edison - where smashing Art Deco style is still in vogue!</div>
                                                          <img src="/images/anniversary/edison/tabs-images-5.jpg"  alt=""/>
                                                        </div>
                                                      </div>
                                                    </section>
                                                    <div class="group-title">
                                                      <h6>Proximity at its best</h6>
                                                      <h3>With Triumph Hotels</h3>
                                                    </div>
                                                    <section class="location">
                                                      <div class="container">
                                                        <div class="col-md-7 no-padding map">
                                                          <img src="/images/anniversary/edison/tabs-images-6.jpg"  alt=""/>
                                                        </div>
                                                        <div class="col-md-5 no-padding">
                                                          <div class="holder">
                                                            <h5>hotel Edison</h5>
                                                            <ul>
                                                              <li><span><img src="/images/loc.png"  alt=""/></span>228 West 47th Street, New York, NY 10036</li>
                                                              <li><span><img src="/images/call.png"  alt=""/></span><a href="tel:1-855.787.4867">+1 855.787.4867
                                                            </a></li>
                                                            <li><span><img src="/images/mail.png"  alt=""/></span><a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a></li>
                                                          </ul>
                                                          <img src="/images/anniversary/edison/tabs-images-7.jpg" class="full"  alt="" />
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </section>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                        <!--FeatureSection End-->
                                        <section class="cta" style="background-image:url(/images/anniversary/cta-bg.jpg);">
                                          <div class="container-fluid no-padding">
                                            <div class="cta-content">
                                              <h3>BOOK NOW & SAVE UP TO 40% </h3>
                                              <div class="red-panel"><a href="#hotels" target="_blank" class="link">Click here To Book Now</a></div>
                                              <div class="cta-bottom">
                                                <h4>Limited Time Only</h4>
                                                <h5>Feb 12th - One Day Extension</h5>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                        <section class="more-hotels" id="contact">
                                          <div class="container no-padding">
                                            <div class="col-sm-12 no-gutter text-center bottom-logo">
                                              <img src="/images/anniversary/triumph-logo.svg" alt=""/>
                                            </div>
                                          </div>
                                        </section>
                                        <section>
                                          <footer>
                                            <div class="container footer-pattern">
                                              <div class="col-md-3 col-sm-6  co-xs-12 ">
                                                <h4>triumph hotels</h4>
                                                <p>1271 Avenue of the Americas<br>New York, NY 10020</p>
                                              </div>
                                              <div class="col-md-3 col-sm-6 co-xs-12">
                                                <h4>Reservations</h4>
                                                <a href="tel:855.787.4867">855.787.4867</a><br>
                                                <a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a>
                                              </div>
                                              <div class="col-md-3 co-xs-12">
                                                 <h4>Sales</h4>
                                                  <a href="tel:855.787.4867">855.787.4867</a><br>
                                                  <a href="mailto:centralres@triumphny.com">centralres@triumphny.com</a>
                                              </div>
                                              <div class="col-md-3 col-sm-6  co-xs-12">
                                                <h4>Stay connected</h4>
                                                 <form action="https://guestfolio.net/newsletters/subscribers" method="post" id="guestfolio">
                                                    <input type="hidden" id="hotel" name="hotel" value="NzYz"><input type="hidden" id="redirect-url" name="redirect_url" value="https://www.triumphhotels.com/anniversary-sale/?submit=subscribe">
                                                  <fieldset>
                                                  <input type="Email" placeholder="Your Email Address" id="email" name="subscriber[email]" value="" class="text validate[required,custom[email]]" placeholder="Your Email" required=""> <input type="submit" value="" id="submit" name="submit">
                                                   </fieldset>
                                                </form>
                                              </div>
                                            </div>
                                            
                                            <nav>
                                              <div class="container">
                                                <ul>
                                                  <li> <a href="/press/" target="_blank">Press Room </a></li>
                                                  <li> <a href="/careers/" target="_blank">Careers </a></li>
                                                  <li> <a href="/privacy/" target="_blank">Privacy Policy</a></li>
                                                  <!--li> <a href="/privacy/" target="_blank">Site Security</a></li-->
                                                  <li> <a href="/triumph/" target="_blank">Triumph Hotels</a></li>
                                                  <!-- <li> <a href="/faq/" target="_blank">FAQs</a></li> //-->
                                                  <li> <a href="/sitemap/" target="_blank">Site Map</a></li>
                                                  <li> <a href="">&copy; 2017 Triumph Hotels</a></li>
                                                </ul>
                                              </div>
                                            </nav>
                                          </footer>
                                        </section>
                                        <section>
                                          <footer>
                                            <div class="container social-pattern">
                                              <div class="social">
                                                <ul>
                                                  <li> <a href="https://www.facebook.com/TriumphHotels" target="_blank"> <img src="/images/anniversary/fb.svg" alt="Facebook"/></a></li>
                                                  <li> <a href="https://twitter.com/TriumphHotels" target="_blank"><img src="/images/anniversary/twitter.svg" alt="Twitter"/> </a></li>
                                                  <li> <a href="https://plus.google.com/117172606182242892525" target="_blank"><img src="/images/anniversary/googleplus.svg"  alt="GooglePlus"/></a></li>
                                                  <li> <a href="http://instagram.com/triumphhotels" target="_blank"><img src="/images/anniversary/instagram.svg" alt="Instagram"/></a></li>
                                                  <li> <a href="https://pinterest.com/triumphhotels"><img src="/images/anniversary/print.svg" alt="Printrest"></a></li>
                                                  <!--<li> <a href=""><img src="/images/anniversary/print.svg" alt="Printrest"/></a></li>-->
                                                </ul>
                                              </div>
                                            </div>
                                          </footer>
                                        </section>
                                        <!-- Email popup -->
                                        <div id="email-popup" class="modal fade" role="dialog">
                                          <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h4 class="modal-title success" style="display:none">Remind Me To Book</h4>
                                                <h4 class="modal-title ok" style="display:none">Join our mailing list</h4>
                                              </div>
                                              <div class="modal-body">
                                                <div class="success" style="display:none">THANK YOU, WE WILL EMAIL YOUR REMINDER</div>
                                                <div class="ok" style="display:none;">Thank you for subscribing</div>
                                                <div id="succes-hide">
                                                  <form action="https://submit.jotform.me/submit/70372475025453/" method="post" name="form_70372475025453" id="70372475025453" accept-charset="utf-8">
                                                    <input type="hidden" name="formID" value="70372475025453" />
                                                      <div class="form-group">
                                                <input type="email" class="form-control" id="input_3" name="q3_email" value="" placeholder="Your Email Address">
                                                <button id="input_2" type="submit" class="btn-form" >Submit</button>
                                              </div>
                                            </form>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="close" data-dismiss="modal">&times;</div>
                                          </div>
                                        </div>
                                        <script>

                                            $(document).ready(function(){
                                         
                                            function getParameterByName(name, url) {
                                                       if (!url) url = window.location.href;
                                                       name = name.replace(/[\[\]]/g, "\\$&");
                                                       var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                                                           results = regex.exec(url);
                                                       if (!results) return null;
                                                       if (!results[2]) return '';
                                                       return decodeURIComponent(results[2].replace(/\+/g, " "));
                                                }

                                              if(getParameterByName('submit')){
                                                  if(getParameterByName('submit') =='success'){ 
                                                     $('.success').css('display','block'); 
                                            $('#succes-hide').css('display','none');
                                                      $('#email-popup').modal('show');
                                                  }
                                            if(getParameterByName('submit') =='subscribe'){ 
                                                     $('.ok').css('display','block'); 
                                            $('#succes-hide').css('display','none');
                                                      $('#email-popup').modal('show');
                                                  }
                                                }
                                         });
                                        </script>


                                        {% include anniversary-scripts.html %}
                                      </body>
                                    </html>
